$background-grey: #EBE4DA;
$text-grey: #D0CCC1;
$primary-red:#c8592e;
$primary-green:#438964;
$primary-orange:#E5D2B4;
$primary-black:#2B2B2B;

$primary-yellow: #F5B200;
$primary-dark-grey: #aaaaaa;
$primary-dark-black: #333333;
$primary-dark-title: #DDDDDE;

$screen-md-max:1199px;
$screen-sm-max:991px;
$screen-xs-max:767px;
$screen-xs-min:480px;


